@use '../global' as *;

.card {
    box-shadow: 2px 2px 4px rgba($color: $gray2, $alpha: 0.16);

    @include mq(md) {
        box-shadow: 2px 2px 4px rgba($color: #1b1310, $alpha: 0.16);
    }
}

.card__img {
    width: 100%;
}

.card__img img {
    aspect-ratio: 320 / 200;
    width: 100%;
    object-fit: cover;
}

.card__date {
    margin-top: rem(21);
    margin-left: rem(16);
    margin-right: rem(16);
    font-size: rem(12);
    line-height: calc(12 / 12);
    letter-spacing: 0.05em;
    color: $gray2;
}

.card__title {
    margin: rem(12) rem(16) rem(21);
    font-size: rem(14);
    line-height: calc(26 / 14);
    letter-spacing: 0.05em;
    color: $black;
}