@use '../global' as *;

.hamburger {
    position: fixed;
    z-index: 9999;
    top: rem(30);
    right: rem(15);
    width: rem(25);
    height: rem(16);
    cursor: pointer;
}

.hamburger.is-active {
    top: rem(32);
    right: rem(20);
}

.hamburger span {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: rem(2);
    background-color: $black;
    transition: 0.3s transform, 0.3s background-color;
}

.hamburger.is-active span {
    background-color: $white;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: rem(8);
    transition: 0.3s opacity;
}

.hamburger span:nth-child(3) {
    top: rem(16);
}

.hamburger.is-active span:nth-child(1) {
    top: rem(15);
    transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    top: rem(15);
    transform: rotate(45deg);
}